*.sw*
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
.idea

# checkpoint
checkpoint

# C++/Qt
ArtStyle-build-x64-Debug/*
ArtStyle-build-x64-Release/*
.vs
debug/
release/
GeneratedFiles/
x64/
.qmake.stash
*.user
*.vcxproj*
*.sln
*.VC.*
ui_*